<div class="mainlog">
<form action="/themes" method="POST" id="loginform">
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" id="email" name="email" aria-describedby="emailHelp" required>
  </div>
  <div style="color:red">{{invalidEmail}}</div>
  <div class="mb-3">
    <label for="pass" class="form-label">Пароль</label>
    <input type="password" name="password" id="pass" required>
  </div>


  <button type="submit" class="btn">Войти</button>
</form>

<div id='loginError'>

</div>
<div class="cardLog" style="width: 18rem;">
  
  <div class="card-body">
    <h5 class="card-title">Зарегестироваться</h5>

  </div>

  <div class="card-body">
    <a href="/registration" class="cardLink">реганёмся</a>
  </div>
</div>
</div>
