<form action="/login" method="POST" id="loginform">
<div class="cont">
  <div class="form sign-in">
    <h2>Войти</h2>
    <label>
      <span>Email</span>
      <input type="mail"  id="mail" name="mail" />
    </label>
    <label>
      <span>пароль</span>
      <input type="password" name="password" pattern="(?=.*[a-z]).{5,}"/>
    </label>
    <button type="submit" class="submit">войти</button>
    
  </div>

  <div class="sub-cont">
    <div class="img">
      <div class="img__text m--up">
        <h2>реганёмся</h2>
      </div>
    <div class="img__btn">
        <span class="m--up" href="/registration">реганёмся</span>
      </div>
    
    </div>
      
     
    </div>
  </div>
</div>
</form>
