<form action="/registration" method="POST" id="regForm">
<div class="cont">
  <div class="form sign-in">
    
  </div>
  {{!-- <div class="sub-cont">
    <div class="img">
      <div class="img__text m--up">
        <h2>реганёмся</h2>
      </div>
      <div class="img__text m--in">
        <h2>зайдешь?</h2>
      </div>
      <div class="img__btn">
        <span class="m--up" href="/registration">реганёмся</span>
        <span class="m--in" href="/log">зайдёшь?</span>
      </div>
    </div> --}}
    <div class="form sign-up">
      <h2>регистрация</h2>
      <label>
        <span>Имя</span>
        <input type="nickname" id="nickname" name="nickname"/>
      </label>
      <label>
        <span>Email</span>
        <input type="mail" id="mail" name="mail"/>
      </label>
      <label>
        <span>пароль</span>
        <input type="password" id="password" name="password" pattern="(?=.*[a-z]).{5,}" />
      </label>
      <button type="submit" class="submit">зарегистрироваться</button>
     
    </div>
  </div>
</div>
</form>
{{!-- <a href="https://dribbble.com/shots/3306190-Login-Registration-form" target="_blank" class="icon-link">
  <img src="http://icons.iconarchive.com/icons/uiconstock/socialmedia/256/Dribbble-icon.png">
</a> --}}
