<link rel="stylesheet" href="../../public/css/registration.css">
<div class="cont">
  <div class="form sign-in">
    <h2>Войти</h2>
    <label>
      <span>Email</span>
      <input type="email" />
    </label>
    <label>
      <span>пароль</span>
      <input type="password" />
    </label>
    <button type="button" class="submit">войти</button>
    
  </div>
  <div class="sub-cont">
    <div class="img">
      <div class="img__text m--up">
        <h2>реганёмся</h2>
      </div>
      <div class="img__text m--in">
        <h2>зайдешь?</h2>
      </div>
      <div class="img__btn">
        <span class="m--up">зерегистрироваться</span>
        <span class="m--in">зайдёшь?</span>
      </div>
    </div>
    <div class="form sign-up">
      <h2>регистрация</h2>
      <label>
        <span>Имя</span>
        <input type="text" />
      </label>
      <label>
        <span>Email</span>
        <input type="email" />
      </label>
      <label>
        <span>пароль</span>
        <input type="password" />
      </label>
      <button type="button" class="submit">зарегистрироваться</button>
     
    </div>
  </div>
</div>

{{!-- <a href="https://dribbble.com/shots/3306190-Login-Registration-form" target="_blank" class="icon-link">
  <img src="http://icons.iconarchive.com/icons/uiconstock/socialmedia/256/Dribbble-icon.png">
</a> --}}
