<div class="mainrega">
<form action="/registration" method="POST" id="regform">
     <div class="mb-3">
    <label for="login" class="form-label">Логин</label>
    <input type="login" id="login" name="login" autocomplete='off' required>
  </div>
   <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" id="email" name="email" autocomplete='off' required>
    </div>
  <div class="mb-3">
    <label for="pass" class="form-label">Пароль</label>
    <input type="password" name="password" id="pass" pattern="(?=.*[a-z]).{5,}"
      required>
  </div>
<div style="color:red">{{invalidForm}}</div>
  <a href="/log"><button type="submit" class="btn">Зарегестироваться</button></a>
</form>

<div id='regError'>

</div>

<div class="card" style="width: 18rem;">
  
  <div class="card-body">
    <h5 class="card-title">Войти</h5>

  </div>

  <div class="card-body">
    <a href="/log" class="cardLink">Войти</a>
  </div>
</div>
</div>
