<p>
  <a href="/">На главную</a>
</p>
<p>
  <a href="/log">Выйти</a>
</p>

<form>
  <h3>{{themes}} </h3>
  <div class="quest">{{quest}} </div>
  <div>
    <input name="answer" type="text" placeholder="Введи ответ">
  </div>
  <div>
    <button>Дальше</button>
  </div>

</form>
